<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nucome.app.forex">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <application
        android:name="com.nucome.app.forex.TradeApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="外汇快讯"
        android:textSize="@dimen/big_font_size"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nucome.app.forex.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nucome.app.forex.RateActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.ChartImageActivity"
            android:parentActivityName="com.nucome.app.forex.ForexChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.ForexChartActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.ForexRateActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.FutureRateActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.ForexChartActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.TechnicalActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.NewsActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.AnalysisActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.WsjActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.GoldActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.FutureActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
    </activity>
        <activity
            android:name="com.nucome.app.forex.MarketWatchActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.ForexLiveActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.FxStreetActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.SignalActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.RecommendationActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.RegisterActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.OpenAccountActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.CalendarActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>

        <activity
            android:name="com.nucome.app.forex.LearningActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />

        </activity>

        <activity
            android:name="com.nucome.app.forex.LearningSeminarActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity
            android:name="com.nucome.app.forex.LearningKnowledgeActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity android:name="com.nucome.app.forex.UserInfoActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
        <activity android:name="com.nucome.app.forex.AboutusActivity"
            android:parentActivityName="com.nucome.app.forex.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nucome.app.forex.MainActivity" />
        </activity>
    </application>

</manifest>